/* Comment
*/
.dark {color:#666666;background-color:#f1f1f1;padding:.3em;margin:.5em}
.light {color:#666666;background-color:#fff;padding:.3em;border:1px solid #f1f1f1}
.commentwrapper {background-color:#fafafa;padding:1em;border:1px solid #ccc}
.comheader{width:100%;background-color:#ccc;padding:.1em;color:#000}
